@import "_macchiato.scss"

*{
    all: unset;
    color : $text;
    font-family: "ComicShannsMonoNerdFontPropo";
}
.left, .right, .center, .cal-box, .sys_win, .audio-box, .music_pop, .disk-box {
    background-color: $surface0;
    border-radius: 10px;
    padding: 0 10 0 10;
    border: 2px solid $lavender;
}
.cal-box, .sys_win, .audio-box, .music_pop, .disk-box {
    border: 2px solid $peach;
}

.separator {
    color: $overlay2;
}

.audio-box {
    padding: 10;
}



.iconbat, .iconmem, .iconcpu, .iconsink, .iconsink-loud, .iconsource, .iconsource-loud, .iconbacklight, .iconbat-full, .iconbat-low {
    // size: 2;
    font-size: 13px;
    padding-left: 5 ;
    padding-right: 5 ;
    padding-top: 5 ;
    padding-bottom: 5 ;
}

.progress {
    margin-top: 2;
    margin-bottom: 2;
}


tooltip.background {
    border-radius: 10px;
    border: 1px solid $blue;
    background: $surface0
}

.progress {
    color: $peach;
}


.active-workspace{
    color: $crust;
    background-color: $teal;
    padding: 0 8 0 8;
    margin: 4 0 4 0;
    border-radius: 6px;
}

.default-source-icon, .default-sink-icon,  .sink-icon, .source-icon {
    border-radius: 6px;
    padding: 8 8 8 8;
    margin: 8 8 8 8;
}

.source-icon, .sink-icon {
    border: 1px solid $text;
    color: $text;
}
.default-source-icon, .default-sink-icon  {
    background-color: $text;
    color: $crust;
}

.iconbat-low, .iconbat-full, .iconsink-loud, .iconsource-loud, .notif-disabled {
    color: $red;
}


.iconsink, .iconsink-loud {
    padding: 4px;
}
.iconsource, .iconsource-loud, .iconbat-low, .iconbat, .iconbat-full{
    padding: 7px;
}
.iconbat-full {
    // IDK whats the issue but with default it is pushed to left a little
    padding-left: 8
}



.slider trough highlight, .audio-scale trough highlight {
  background-image: linear-gradient(to right, $yellow 30%, $pink 50%, $red 100% *50);
  border-radius: 10px;
}

scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.music_cover_art {
    background-size: cover;
    background-position: center;
    min-height: 100px;
    box-shadow: 5px 5px 5px 5px #06060b;
    min-width: 200px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}
