*{
all: unset;
color : #0C0B10;
}
.left, .right, .center {
   background-color: #AFBACC;
   border-radius: 10px;
   padding: 0 10 0 10;
   border: 2px solid #27496A;
}

.left{
   background-color: #ABA16E;
   border: 2px solid #FD7977;
}

.center{
   background-color: #F8CDA3;
   border: 2px solid #2B1E09;
}

.right{
   background-color: #ABA16E;
   border: 2px solid #FD7977;
}
