@import "machiato.css";

* {
  font-family:  Maple Mono NF;
  font-weight: 900;
  font-size: 11px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
  padding: 0.2rem 0.2rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.0rem 0.0rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
  background-color: @surface1;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#wireplumber,
#bluetooth,
#network,
#disk,
#memory,
#cpu,
#custom-power {
  background-color: @surface0;
  padding: 0.2rem 0.5rem;
  margin: 5px 0;
}

#clock {
  color: @sapphire;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
}

#wireplumber {
  color: @flamingo;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}


#bluetooth {
  color: @pink;
}

#network {
  color: @red;
}


#disk {
  color: @maroon;
}

#memory {
  color: @peach;
}

#cpu {
  color: @yellow;
}

#backlight {
  color: @green;
}

#backlight, #battery {
    border-radius: 0;
}

#battery {
  color: @teal;
}

#battery.charging {
  color: @teal;
}

#battery.warning:not(.charging) {
  color: @red;
}
#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
