#window {
    padding: 2px;
    background-color: transparent;
    font-family: Source Code Pro;
}

#entry {
border-radius: 5px;
padding: 5px;
margin-bottom: 5px;
}

#entry:selected {
background-color: #665C54;
}
 
#text {
padding: 5px;
font-size: 13px;
color:#FBF1C7;
background-color: transparent;
} 

#text:selected {
    font-size:14px;
    font-weight:400;
color: #ffffff;
}
 

#input {
border: 2px solid #3C3836;
background-color: #EBDBB2;
padding: 5px;
font-size: 13px;
border-radius: 8px;
color: #1D2021;
    box-shadow: 0 0 5px black;
}

#inner-box {
    margin-top: 10px;
    color: #d8dee9;
    padding: 8px;
    border-radius:8px;
    border-width: 2px;
    border:2px solid #BDAE93;
    background-color: #282828;
    box-shadow: 0 0 5px black;
}

#outer-box {
margin: 15px;
background-color: transparent;
}

#scroll {
margin-top: 10px;
}


#img {
  background-color: transparent;
  padding: 5px;
}
