[Unit]
Description=watches for playcounts and skips
After=mpd.service

[Service]
Type=exec
ExecStart=%h/.local/bin/mp_rater -vvvv -L
Restart=always

[Install]
WantedBy=default.target
