@define-color bg1   #4c566a;
@define-color ws_foc #e5e9f0;
@define-color ws-clr #2e3440;
@define-color font #eceff4;
@define-color mpd @ws-foc;
@define-color pipe #7d818a;

window#waybar {
    border-radius: 8px;
    background-color: transparent;
}
* {
    min-height: 0px;
    font-size: 10px;
    font-family: Sans;
    min-height: 0px;
    font-weight: 500;
    padding-bottom: 1px;
    padding-top: 1px;
}
/* center module */
#clock{
    margin: 2px 0px 2px 0px ;
    color: @font;
    padding-left: 8px;
    padding-right: 8px;
    background-color: @bg1;
    border-radius: 8px;
}

/* right module */
#pulseaudio, #custom-bluetooth, #network, #disk, #memory, #cpu, #backlight, #battery {
    color: @font;
    margin: 2px 0px 2px 0px ;
    padding: 0px 8px 0px 8px;
    background-color: @bg1;
    padding-top: 2px;
    padding-bottom: 2px;
}
#tray, #custom-power{
    color: @font;
    margin: 2px 0px 2px 0px ;
    padding: 0px 2px 0px 2px;
    background-color: @bg1;
    color: #bf616a;
    padding-top: 2px;
    padding-bottom: 2px;
}

#workspaces{
    margin: 2px 2px 2px 2px;
    padding: 0px 2px 0px 2px;
    border-radius: 8px;
    background-color: @bg1;
}

#workspaces button{
    background: @bg1;
    color: @font;
    margin: 2px 3px 2px 3px;
    padding: 0px;
}

#workspaces button.focused{
    color: @ws-clr;
    background: @ws_foc;
}

#workspaces button.urgent{
}

#custom-left_pad{
    border-radius: 8px 0px 0px 8px;
    padding:0px 2px 0px 2px;
    margin: 2px 0px 2px 2px ;
    background-color: @bg1;
}

#custom-right_pad{
    border-radius: 0px 8px 8px 0px;
    padding:0px 2px 0px 2px;
    margin: 2px 2px 2px 0px ;
    background-color: @bg1;
}
#custom-pipe{
    margin-top:2px;
    margin-bottom:2px;
    font-size: 16px;
    background-color: @bg1;
    color: @pipe;
}

#mpd{
    font-weight: 600;
    color: @mpd;
}
