[Unit]
Description=syncs the mails every 5 minutes and after 2 minutes of boot

[Timer]
Persistent=true
OnBootSec=120
OnUnitActiveSec=300

[Install]
WantedBy=timers.target
