exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec element-desktop --enable-features=UseOzonePlatform --ozone-platform=wayland --no-update --hidden
exec gpgconf --launch gpg-agent
exec 'mp_rater --use-tags -L'

#============================clipman=====================================================
exec wl-paste -p -t text --watch clipman store -P --histpath="~/.local/share/clipman/clipman-primary.json"
exec clipman restore
exec wl-paste -t text --watch clipman store

