# vim: syntax=i3config

################################## Style ################################
default_border  pixel 2
gaps    outer       2px
gaps    inner       6px
# # class                   border      bground     text        indicator   child_border
client.focused             #F3722C      #EBDBB2     #3C3836     #D65D0E     #FE8019
client.unfocused           #3C3836      #3C3836     #EBDBB2     #CC241D     #504945
client.focused_inactive    #3C3836      #EBDBB2     #3C3836     #000000     #000000




set $gnome-schema org.gnome.desktop.interface
exec_always {
    gsettings set $gnome-schema cursor-theme 'amber'
    gsettings set $gnome-schema cursor-size 16

    }

#============================ window management==========================================================
for_window [app_id="firefox"] inhibit_idle fullscreen
for_window [app_id="mpv"] inhibit_idle focus
for_window [app_id="gnome-calculator"] floating enable
for_window [app_id="zenity"] floating enable, border normal
for_window [app_id="pinentry-qt"] floating enable, border normal
# for_window [app_id="Element"] floating enable, resize set  width 700px,resize set height 800px
for_window [title="Firefox — Sharing Indicator"] floating enable, move to scratchpad
no_focus [title="Firefox — Sharing Indicator"]
